# Pandas

<img src="PANDAS.png" width=1500 height=500 />


For reference follow the Pandas documentation at [Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html)

# Data analysis with python - **Pandas**

- Pandas is a Python library that provides data structures and data analysis tools for handling and manipulating numerical tables and time series data.
-  It is built on top of the popular data manipulation library, numpy, and is widely used for data preparation and wrangling tasks in data science and machine learning workflows. 
- Some of the key features of pandas include its fast and efficient handling of large datasets, powerful data manipulation and cleaning capabilities, and support for a wide range of file formats and data sources.

## Main Features of PANDAS

The main features of PANDAS library

- **Easy handling of missing data:** Easy handling of missing data (represented as `NaN`, `NA`, or `NaT`) in floating point as well as non-floating point data 
- **Size mutability:** columns can be inserted and deleted from DataFrame and higher dimensional objects
- **Automatic and explicit data alignment:** objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let `Series`, `DataFrame`, etc. automatically align the data for you in computations
- **Groupby:** Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
- **Data conversion:** Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects
- **Data manipulation:** 
    - Intelligent label-based slicing, fancy indexing, and subsetting of large data sets
    - Intuitive merging and joining data sets
    - Flexible reshaping and pivoting of data sets
    - Hierarchical labeling of axes (possible to have multiple labels per tick)
- **Type of data handling:** Robust IO tools for loading data from flat files (`CSV` and `delimited`), Excel files, databases, and saving/loading data from the ultrafast `HDF5` format
- **Time series-specific functionality:** date range generation and frequency conversion, moving window statistics, date shifting and lagging.

![Python](https://img.shields.io/badge/python-3670A0?style=flat&logo=python&logoColor=ffdd54) ![Anaconda](https://img.shields.io/badge/Anaconda-%2344A833.svg?style=flat&logo=anaconda&logoColor=white) 
![NumPy](https://img.shields.io/badge/numpy-%23013243.svg?style=flat&logo=numpy&logoColor=white) ![Pandas](https://img.shields.io/badge/pandas-%23150458.svg?style=flat&logo=pandas&logoColor=white)

## NumPy vs Pandas

<table><tr>
<td> <img src="Numpy-1.png" alt="Drawing" style="width: 650px;"/> </td>
<td> <img src="Pandas-1.png" alt="Drawing" style="width: 650px;"/> </td>
</tr></table>

[Image refeerence](https://favtutor.com/blogs/numpy-vs-pandas)

| **Comparison Parameter** |  **NumPy** | **Pandas** |
|----------------------|--------|--------|
| **Powerful Tool** | _A powerful tool of NumPy is Arrays_ | _A powerful tool of Pandas is Data frames and a Series_ |
| **Memory Consumption** | _NumPy is memory efficient_ | _Pandas consume more memory_ |
| **Data Compatibility** | _Works with numerical data_ | _Works with tabular data_ |
| **Performance** | _Better performance when the number of rows is 50K or less_ | _Better performance when the number of rows is 500k or more_ |
| **Speed** | _Faster than data frames_ | _Relatively slower than arrays_ |
| **Data Object** | _Creates “N” dimensional objects_ | _Creates “2D” objects_ |
| **Type of Data** | _Homogenous data type_ | _Heterogenous data type_ |
| **Access Methods** | _Using only index position_ | _Using index position or index labels_ |
| **Indexing** | _Indexing in NumPy arrays is very fast_ | _Indexing in Pandas series is very slow_ |
| **Operations** | _Does not have any additional functions_ | _Provides special utilities such as “groupby” to access and manipulate subsets_ |
| **External Data** | _Generally used data created by the user or built-in function_ | _Pandas object created by external data such as CSV, Excel, or SQL_ |
| **Application** | _NumPy is popular for numerical calculations_ | _Pandas is popular for data analysis and visualizations_ |
| **Usage in ML and AI** | _Toolkits can like TensorFlow and scikit can only be fed using NumPy arrays_ | _Pandas series cannot be directly fed as input toolkits_ |
| **Core Language** | _NumPy was written in C programming initially_ | _Pandas use R language for reference language_ |


Python libraries like NumPy and Pandas are often used together for data manipulations and numerical operations.

For more details on Numpy library, pleasee follow the Numpy notebook on my repository on Github: [Numy notebook on Github repository](https://github.com/arunsinp/Python-programming/blob/main/Python-fundamental/Numpy-tutorial.ipynb)

In [2]:
# To import Pandas library to your notebook
import pandas as pd
# For most times, numpy should also be imported to the notebook
import numpy as np

# Pandas Data Structures

Pandas supports two data structures:
- Series
- Dataframe

Both DataFrame and Series have powerful methods for handling missing data, performing data cleaning and wrangling, and handling time series data. They also provide built-in functions for statistical analysis, data visualization, and machine learning.

Let's start the two data structure one by one below.

1. **Series:** _A Series is a one-dimensional array-like object that can hold any data type. It is similar to a column in a DataFrame. Series can be created from various data types, including lists, numpy arrays, and dictionaries. Each element in a Series has a unique label, called the index, which can be used to access the elements in the Series_.

    Syntax: 
    
    `pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)`

    Parameters:

    - `data`: array- Contains data stored in Series.
    - `index`: array-like or Index (1d)
    - `dtype`: str, numpy.dtype, or ExtensionDtype, optional
    - `name`: str, optional
    - `copy`: bool, default False

2. **Dataframe:** _A DataFrame is a two-dimensional size-mutable, tabular data structure with rows and columns. It is similar to a spreadsheet or a SQL table. DataFrames can be created from various sources including CSV files, Excel files, and SQL databases. They can also be created from lists, numpy arrays, and dictionaries. DataFrames can be manipulated using various methods such as indexing, slicing, and groupby._

    Syntex of the data frame creation:

    `pandas.DataFrame(data, index, columns)`

    where:

    * `data`: It is a dataset from which dataframe is to be created. It can be list, dictionary, scalar value, series, ndarrays, etc.
    * `index`: It is optional, by default the index of the dataframe starts from 0 and ends at the last data value(n-1). It defines the row label explicitly.
    * `columns`: This parameter is used to provide column names in the dataframe. If the column name is not defined by default, it will take a value from 0 to n-1.


    Data in higher dimensions are supported within DataFrame using a concept called hierarchical indexing. 
    
    Pandas DataFrame consists of three principal components, the data, rows, and columns. (A example dataframe is shown below [Reference](https://devopedia.org/pandas-data-structures)).

    <img src="https://devopedia.org/images/article/304/7205.1610253721.jpg" width=800 height=400/>

    Pandas DataFrame can be created in multiple ways. Let’s discuss different ways to create a DataFrame one by one.

    - Creating an empty dataframe
    - Creating a dataframe using List
    - Creating DataFrame from dict of ndarray/lists
    - Create pandas dataframe from lists using dictionary

    See examples below.

##### Example on series

In [16]:
# Series holding the char data type.
# a simple char list
list = ['P', 'A', 'N', 'D', 'A', 'S']
   
# create series form a char list
res = pd.Series(list)
print(res)

0    P
1    A
2    N
3    D
4    A
5    S
dtype: object

In [12]:
#Series holding the Int data type.
# a simple int list
list = [1,2,3,4,5]
   
# create series form a int list
res = pd.Series(list)
print(res)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
# Series holding the dictionary.
dic = { 'Id': 1013, 
        'Name': 'Pandas',
        'State': 'Python',
        'Age': 2008}
 
res = pd.Series(dic)
print(res)

Id         1013
Name     Pandas
State    Python
Age        2008
dtype: object

##### Examples on dataframe

In [14]:
# Creating an empty dataframe
# Calling DataFrame constructor
df = pd.DataFrame()
 
print(df)

Empty DataFrame
Columns: []
Index: []

In [18]:
# Creating a dataframe using List
# list of strings
lst = ['Python', 'was', 'first', 'time', 'released', 'on', 'Jan 11, 2008']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

              0
0        Python
1           was
2         first
3          time
4      released
5            on
6  Jan 11, 2008

In [20]:
# Creating DataFrame from dict of ndarray/lists
# initialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [21]:
# Creating pandas dataframe from lists using dictionary
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
df = pd.DataFrame(dict)
 
print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [22]:
# creating a DataFrame by proving index label explicitly.
# initialize data of lists.
data = {'Name': ['Tom', 'Jack', 'nick', 'juli'],
        'marks': [99, 98, 95, 90]}
  
# Creates pandas DataFrame.
df = pd.DataFrame(data, index=['rank1',
                               'rank2',
                               'rank3',
                               'rank4'])
  
# print the data
df

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

In [24]:
# creating pandas DataFrame by passing lists of dictionaries and row indexes.
# Initialize data of lists
data = [{'b': 2,            'c': 3}, 
        {'a': 10, 'b': 20, 'c': 30}
        ]
  
# Creates pandas DataFrame by passing
# Lists of dictionaries and row index.
df = pd.DataFrame(data, index=['first', 'second'])
  
# Print the data
df

         b   c     a
first    2   3   NaN
second  20  30  10.0

In [26]:
# above example can also be done as:
data = {'a' : ['NaN', 10.0],
          'b' : [2, 20],
          'c' : [3,30]}
        
  
# Creates pandas DataFrame by passing
# Lists of dictionaries and row index.
df = pd.DataFrame(data, index=['first', 'second'])
  
# Print the data
df

          a   b   c
first   NaN   2   3
second   10  20  30

# Pandas Various functions

## 1. Input/output

### 1a. Pickling

| Function | Explanation |
|----------|-------------|
| `read_pickle(filepath_or_buffer[, ...])` | Load pickled pandas object (or any object) from file. |
| `DataFrame.to_pickle(path[, compression, ...])` |  Pickle (serialize) object to file. |

### 1b. Flat file

| Function | Explanation |
|----------|-------------|

### 1c. Clipboard

| Function | Explanation |
|----------|-------------|

### 1d. Excel

| Function | Explanation |
|----------|-------------|

### 1e. JSON

| Function | Explanation |
|----------|-------------|

### 1f. HTML

| Function | Explanation |
|----------|-------------|

### 1g. XML

| Function | Explanation |
|----------|-------------|

### 1h. Latex

| Function | Explanation |
|----------|-------------|

### 1i. HDFStore: PyTables (HDF5)

| Function | Explanation |
|----------|-------------|

### 1j. SQL
| Function | Explanation |
|----------|-------------|
| `read_sql_table(table_name, con[, schema, ...])` | Read SQL database table into a DataFrame. |
| `read_sql_query(sql, con[, index_col, ...])` |  Read SQL query into a DataFrame. |
| `read_sql(sql, con[, index_col, ...])` | Read SQL query or database table into a DataFrame. |
| `DataFrame.to_sql(name, con[, schema, ...])` | Write records stored in a DataFrame to a SQL database. |

# References

1. https://pandas.pydata.org/docs/user_guide/index.html#user-guide
2. https://pandas.pydata.org/docs/
3. https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html